*.ju.py
.git 
.venv 
.claude
poetry.lock
**/.ipynb_checkpoints/
notebooks/dataset.md
notebooks/train_resnet.md
*.parquet 
*.csv
!results/results.csv
__pycache__/
datasets/
notebooks/data/*.tar.gz
*.pth
details.md
todo.md
fixes.md
storyline.md
